@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Ballet';
  src: url(../assets/fonts/Ballet/Ballet-Regular-VariableFont_opsz.ttf);
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Manrope';
  src: url(../assets/fonts/Manrope/Manrope-VariableFont_wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerif';
  src: url(../assets/fonts/Noto_Serif/NotoSerif-VariableFont_wdth\,wght.ttf);
  font-weight: 100 900;
  font-style: normal;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

.ballet {
  font-family: 'Ballet', sans-serif;
  color: #F9CF30;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #121417;
}

:root {
  --tamanho-header: 60px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.titulo-dashboard {
  font-size: 150%;
  font-weight: 900;
  color: #fff;
}

.header {
  height: var(--tamanho-header);
  border-bottom: 1px solid #202226;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #94a3b8;
}

.header img {
  width: 25px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
}

.logo img {
  width: 25px;
}

.agora {
  font-weight: 800;

}

.navbar {
  width: 350px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
  color: #94a3b8;
}

.titulo {
  color: #F9CF30;
  width: fit-content;
  font-weight: 900;
  font-size: 18px;
}

.header h1 {
  margin: 0;
}

/* BANNER */

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: linear-gradient(#12141750, #16191dd0), url(../assets/imgs/main/background_home.webp);
  background-size: cover;
  background-position: center;
}

.banner .container {
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.banner .container p {
  width: 50%;
  margin: 0;
  padding: 0;
}

.banner .container span {
  font-weight: 800;
}

.titulo-banner h1 {
  color: #ffffff;
  width: fit-content;
  font-weight: 900;
  font-size: 75px;
  margin: 20px 0 10px 0;
}

.titulo-banner p {
  color: #94a3b8;
  font-weight: 200;
  font-size: 20px;
  margin-bottom: 30px;
}

/* MISSÃO VISÃO VALORES */

.social {
  background-color: #1a1c1f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 5%;
}

.social--alternativo {
  background-color: #121417;
}

.social--dash {
  background-color: #121417;
  height: 100vh;
  padding: 0 30px;
  justify-content: center;
}

.row {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  width: 100%;
}

.row img {
  width: 13%;
  height: 13%;

  border-radius: 50%;
  cursor: pointer;
}

a img {
  width: 25% !important;
  height: 25% !important;

  border-radius: 50%;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wrapper--cima {
  justify-content: flex-start;
  width: 100%;
  height: 50%;
  align-items: flex-start;
  gap: 10px;
}

.wrapper--baixo {
  justify-content: flex-end;
  width: 100%;
  height: 50%;
  align-items: flex-start;
}

.preco {
  font-weight: bold;
  color: #F9CF30;
  font-size: 25px;
  margin-top: 5px;
}

.chart-wrapper {
  width: 100%;
  height: 370px;
  position: relative;
}

.social h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: bold;
  margin-bottom: -25px;
  margin-top: -25px;
}

.social p {
  color: #94a3b8;
}


.social .container {
  justify-content: center;
  display: flex;
  gap: 24px;
  width: 100%;
}

.box img {
  width: 170px;
}

.social .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}

.social p {
  text-align: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #121417;
  color: #fff;
  border-radius: 24px;
  padding: 32px 28px;
  border-left: 3px solid #F9CF30;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.box--destaque {
  width: 100%;
  background-color: #1a1c1f;
  border-left: none;
}

.nome-destaque {
  font-size: 16px;
  margin: 0px 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
}

.passo {
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #F9CF30;
}

.box h4 {
  font-size: 18px;
  font-weight: 800;
}

.texto {
  font-size: 14px;
  color: #94a3b8;
}

/* FOOTER */

.footer {
  background-color: #121417;
  border-top: 1px solid #202226;
  height: 95px;
  color: #fff;
  display: flex;
  font-size: 15px;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  flex-wrap: wrap;
  gap: 10px;
  color: #94a3b8;
  margin: 0;
}

.footer .container {
  font-size: 12px;
}

/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: linear-gradient(#1a1c1f, #1a1c1f), url('../assets/imgs//pkmnOficial/pocket/pikachuPocket.webp');
  background-size: cover;
  background-position: center;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#1a1c1f, #1a1c1f);
}

.imagem-login {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  display: block;
  border-radius: 20px;
  background-image: linear-gradient(#1214173f, #1a1c1f), url('../assets/imgs/pkmnOficial/pocket/pikachuPocket.webp');
  display: flex;
  align-items: flex-end;
  padding: 00px 45px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 0;
}

.imagem-login--login {
  background-image: linear-gradient(#1214173f, #1a1c1f), url('../assets/imgs/pkmnOficial/pocket/venuPocket.webp');
}

.imagem-login--compra {
  background-image: linear-gradient(#1214173f, #1a1c1f), url('../assets/imgs/pkmnOficial/pocket/gyaradosPocket.webp');
}

.imagem-login--venda {
  background-image: linear-gradient(#1214173f, #1a1c1f), url('../assets/imgs/pkmnOficial/pocket/nidokingPocket.webp');
}

.imagem-login h1 {
  color: #ffffff;
  width: fit-content;
  font-weight: 900;
  font-size: 55px;
  margin: 20px 0 10px 0;
  font-weight: 700;
}

.wrapper-imagem {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  background-image: linear-gradient(#1a1c1f, #1a1c1f);
}

.titulo-formulario {
  font-size: 35px;
  font-weight: 900;
  color: #fff;
}

.campos {
  width: 75%;
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-link {
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 0;
  cursor: pointer;
  transition: color 0.3s;
  color: #94a3b8;
  text-decoration: none;
}

.line {
  width: 80px;
  height: 4px;
  background-color: #F9CF30;
  margin-bottom: 60px;
}

.campos span {
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #94a3b8;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.campos input {
  width: 100%;
  padding: 14px;
  background: #121417;
  border: 1px solid #121417;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 20px;
  outline: none;
}

.campos-button {
  width: 100%;
  height: 45px;
  padding: 14px;
  background: #F9CF30;
  border: 1px solid #F9CF30;
  border-radius: 25px;
  color: #121417;
  outline: none;

  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.campos select {
  border: 1px solid #202226;
  background-color: #1a1c1f;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
  width: 100%;
}

.botao {
  cursor: pointer;
  border: 0;
  border-radius: 25px;
  font-weight: 200;
  font-size: 15px;
  color: #121417;
  background-color: #F9CF30;
  width: 48%;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.botao--destaque {
  font-weight: 200;
  font-size: 10px;
  width: 48%;
  margin-top: 0;
  background-color: transparent;
  border: #F9CF30 1px solid;
  color: #F9CF30;
}

.botao-vazado {
  font-weight: 200;
  background-color: transparent;
  border: #F9CF30 1px solid;
  color: #F9CF30;
}

#div_erros_login {
  display: none
}


.alerta_erro {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  z-index: 999;
  background-color: #121417bc;
}

.card_erro {
  background-color: #1a1c1f;
  color: black;
  width: 75%;
  max-width: 1100px;
  border-radius: 25px;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3%;
  gap: 15px;
  overflow: hidden;
  box-sizing: border-box;
}

.formulario {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.line--sidebar {
  margin: 10px 0px 10px 0px;
  width: 100%;
  height: 1px;
  background-color: #94a3b8;
}

.row--perfil {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.foto-perfil {
  width: 50px;
  height: 50px;
  margin: 0;
}

.wrapper--info {
  align-items: flex-start;
}

.titulo-usuario {
  font-size: 15px;
  margin: 0;
  color: #fff;
}

.texto-leve {
  font-weight: 400;
}

.subtitulo-perfil {
  font-size: 12px;
  margin: 0;
  font-weight: 400;
  color: #94a3b8;
}

.seta-perfil {
  color: #fff;
}

#b_fotoPerfil {
  width: 50px;
  height: 50px;
  margin: 0;
}

.wrapper-start {
  align-items: flex-start;
}

.seta {
  font-size: 25px;
  margin-left: 10px;
  margin-top: -5px;
  margin-bottom: -5px;

}

.div-circulo {
  cursor: pointer;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  font-weight: 200;
  margin: 10px;
  background-color: transparent;
  border: #F9CF30 1px solid;
  color: #F9CF30;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-circulo--ativo {
  background-color: #F9CF30;
  border: #F9CF30 1px solid;
  color: #F9CF30;
}
